@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@600&display=swap');

*{
  font-family: 'Fredoka One', cursive;
}

:root{
  height: 100%;
}

@media (max-width:500px){
  #restartBtn {
    top: 70%;
    right: 30%;
    margin: 0 auto;
    width: 35%;
  }
}

#modalTitle{
  font-family: 'Fredoka', sans-serif;
}

#modalText p{
  font-family: 'Fredoka', sans-serif;
}